# Stack
.stack-work/

# Cabal
dist/
dist-newstyle/
cabal.project.local
cabal.project.local~
.cabal-sandbox/
cabal.sandbox.config

# GHC build outputs
*.hi
*.hi-boot
*.o
*.dyn_o
*.dyn_hi
*.prof
*.aux
*.hp
*.eventlog

# Coverage
.hpc/
*.tix

# Editors and misc
*~
.#*
*.swp
.dir-locals.el
.vscode/

# Project-specific
.etc/
